{% load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block head_title %}3D Tisk{% endblock head_title %}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript">
  $(window).on('scroll',function(){
    if($(window).scrollTop()){
      $('nav').addClass('black');
      }
      else {
        $('nav').removeClass('black');
      }
  })
  $(document).ready(function(){
    $(".menu h4").click(function(){
      $("nav ul").toggleClass("active")
    })
  })
</script>

<link rel='stylesheet' href='{% static "css/base.css" %}' />
<link rel='stylesheet' href='{% static "css/Footer-with-map.css" %}' />
<style>
{% block style %}{% endblock style %}
</style>

{% block head_extra %} {% endblock head_extra %}
</head>
<body>



<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



{% include "messages_display.html" %}
<div class="responsive-bar">
  <div class="logo">
    <img class="imgur" src="https://d2rormqr1qwzpz.cloudfront.net/photos/2014/04/02/55-59665-tags_promo-1396460627.jpg" width="100px" height="100px" alt="not found">
  </div>
  <div class="menu">
    <h4>Menu</h4>


  </div>

</div>

<nav class="navbaros1">
  <div class="logo">
    <img class="imgur" src="https://d2rormqr1qwzpz.cloudfront.net/photos/2014/04/02/55-59665-tags_promo-1396460627.jpg" width="100px" height="100px" alt="not found">
  </div>
  <ul class="ulos">
    <li class="lios"><a class="aos change redcol" href="{% url "posts:list" %}">Home</a></li>
    <li class="lios"><a class="aos change" href="{% url "posts:list" %}">O nás</a></li>
    <li class="lios"><a class="aos change" href="{% url "posts:list" %}">Služby</a></li>
    <li class="lios"><a class="aos change" href="{% url "posts:list" %}">Team</a></li>
    <li class="lios"><a class="aos change" href="{% url "posts:list" %}">Ceník</a></li>
    <li class="lios"><a class="aos change" href="{% url "posts:list" %}">Kontakt</a></li>
    {% if not request.user.is_authenticated %}
    <li class="lios"><a class="aos change" href="{% url "login" %}">Login</a></li>
    <li class="lios"><a class="aos change" href="{% url "register" %}">Register</a></li>
    {% else %}
    <li class="lios"><a class="aos change" href="{% url "logout" %}">Logout</a></li>
    {% endif %}
  </ul>
</nav>
<section class="sec1"></section>

<section class="odsazeni">

{% block content %}{% endblock content %}

</section >




<footer id="myFooter">
    <div class="">
        <div class="row">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <!-- Here we use the Google Embed API to show Google Maps. -->
        <!-- In order for this to work in your project you will need to generate a unique API key.  -->
        <iframe id="map-container" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80752.36386206176!2d14.979458245347459!3d50.76609342448245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470936999212df43%3A0x400af0f66155990!2sLiberec!5e0!3m2!1scs!2scz!4v1534096662907"  >
        </iframe>
    </div>
    <div class="social-networks">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
    </div>
    <div class="footer-copyright">
        <p>© 2016 Copyright Text </p>
    </div>
</footer>


<!-- Latest compiled and minified JavaScript -->
<script   src="https://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $(".content-markdown").each(function(){
            var content = $(this).text()
            var markedContent = marked(content)
            $(this).html(markedContent)
    })
    $(".post-detail-item img").each(function(){
            $(this).addClass("img-responsive");
    })



    var contentInput = $("#id_content");

    function setContent(value){
        var markedContent = marked(value)
        $("#preview-content").html(markedContent)
        $("#preview-content img").each(function(){
            $(this).addClass("img-responsive")
        })
    }
    setContent(contentInput.val())

    contentInput.keyup(function(){
        var newContent = $(this).val()
        setContent(newContent)
    })

    var titleInput = $("#id_title");



    function setTitle(value) {
        $("#preview-title").text(value)
    }
    setTitle(titleInput.val())

    titleInput.keyup(function(){
        var newContent = $(this).val()
        setTitle(newContent)
    })


    // preview-title
    // preview-content

})

</script>

</body>
</html>
