{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Služby</h1>

  <p>




<ul class="odrazky">
  <li>3D tisk za pomocí FDM tiskárny – od VÝKRESU, MODELU až po samotný VÝTISK</li>
  <li>Kamerové systémy – vytváříme levné, ale i přesto kvalitní kamerové systémy za pomocí <strong>Open Source</strong> hardwaru a softwaru</li>
  <li>Dům s inteligentní elektroinstalací (Senzor management/HMS server) – potřebujete znát například teplotu a vlhkost v jednotlivých místnostech? Není problém rozmístit po jednotlivých místnostech čidla, kde pomocí jednoduchého a uživatelsky přívětivého prostředí můžete sledovat aktuální hodnoty/případně je porovnávat v grafu.</li>
  <li>Tiskneme za pomocí nejnovějšího modelu ORIGINAL PRUSA i3 MK3</li>
  <li>Maximální pracovní prostor jednoho výtisku = 250 x 210 x 210 (mm) (11.025cm3)</li>
  <li>Větší modely lepíme</li>
  <li>Výška vrstvy od 0,05 (mm)</li>
  <li>Podporované materiály – PLA, ABS, PET, Flex PP, HIPS, Ninjaflex, Laywood, Laybrick, Nylon, Bamboofill, Bronzefill, ASA, T-glase, filamenty s uhlíkovým vláknem, polykarbonát</li>
</ul>
</p>


  </div>
</div>

{% endblock content %}
